@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neuton ExtraBold';
  src: url('../public/fonts/Neuton-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body {
  background: linear-gradient(to bottom right, #fce3f1, #f0e0ff, #e0eeff);
  background-attachment: fixed;
}
